
<div class="jumbotron text-center he">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>

<div class="container">
        <div class="row">

          <div class="col-lg-4 col-sm-6">
            <div class="preview">
              <div class="image">
                <a href="cerulean/"><img src="https://bootswatch.com/darkly/thumbnail.png" class="img-responsive" alt="Cerulean"></a>
              </div>
              <div class="options">
                <h3>Cerulean</h3>
                <p>A calm blue sky</p>
                <div class="btn-group"><a class="btn btn-info" href="cerulean/">Preview</a></div>
                <div class="btn-group">
                  <a class="btn btn-info" target="_blank" href="cerulean/bootstrap.min.css" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cerulean', 'bootstrap.min.css']);">Download</a>
                  <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a target="_blank" href="cerulean/bootstrap.min.css" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cerulean', 'bootstrap.min.css']);">bootstrap.min.css</a></li>
                    <li><a target="_blank" href="cerulean/bootstrap.css" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cerulean', 'bootstrap.css']);">bootstrap.css</a></li>
                    <li class="divider"></li>
                    <li><a target="_blank" href="cerulean/variables.less" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cerulean', 'variables.less']);">variables.less</a></li>
                    <li><a target="_blank" href="cerulean/bootswatch.less" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cerulean', 'bootswatch.less']);">bootswatch.less</a></li>
                    <li class="divider"></li>
                    <li><a target="_blank" href="cerulean/_variables.scss" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cerulean', '_variables.scss']);">_variables.scss</a></li>
                    <li><a target="_blank" href="cerulean/_bootswatch.scss" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cerulean', '_bootswatch.scss']);">_bootswatch.scss</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="preview">
              <div class="image">
                <a href="cosmo/"><img class="img-responsive" src="https://bootswatch.com/darkly/thumbnail.png" alt="Cosmo"></a>
              </div>
              <div class="options">
                <h3>Cosmo</h3>
                <p>An ode to Metro</p>
                <div class="btn-group"><a class="btn btn-info" href="cosmo/">Preview</a></div>
                <div class="btn-group">
                  <a class="btn btn-info" target="_blank" href="cosmo/bootstrap.min.css" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cosmo', 'bootstrap.min.css']);">Download</a>
                  <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a target="_blank" href="cosmo/bootstrap.min.css" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cosmo', 'bootstrap.min.css']);">bootstrap.min.css</a></li>
                    <li><a target="_blank" href="cosmo/bootstrap.css" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cosmo', 'bootstrap.css']);">bootstrap.css</a></li>
                    <li class="divider"></li>
                    <li><a target="_blank" href="cosmo/variables.less" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cosmo', 'variables.less']);">variables.less</a></li>
                    <li><a target="_blank" href="cosmo/bootswatch.less" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cosmo', 'bootswatch.less']);">bootswatch.less</a></li>
                    <li class="divider"></li>
                    <li><a target="_blank" href="cosmo/_variables.scss" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cosmo', '_variables.scss']);">_variables.scss</a></li>
                    <li><a target="_blank" href="cosmo/_bootswatch.scss" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cosmo', '_bootswatch.scss']);">_bootswatch.scss</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6">
            <div class="preview">
              <div class="image">
                <a href="cyborg/"><img class="img-responsive" src="https://bootswatch.com/darkly/thumbnail.png" alt="Cyborg"></a>
              </div>
              <div class="options">
                <h3>Cyborg</h3>
                <p>Jet black and electric blue</p>
                <div class="btn-group"><a class="btn btn-info" href="cyborg/">Preview</a></div>
                <div class="btn-group">
                  <a class="btn btn-info" target="_blank" href="cyborg/bootstrap.min.css" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cyborg', 'bootstrap.min.css']);">Download</a>
                  <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a target="_blank" href="cyborg/bootstrap.min.css" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cyborg', 'bootstrap.min.css']);">bootstrap.min.css</a></li>
                    <li><a target="_blank" href="cyborg/bootstrap.css" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cyborg', 'bootstrap.css']);">bootstrap.css</a></li>
                    <li class="divider"></li>
                    <li><a target="_blank" href="cyborg/variables.less" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cyborg', 'variables.less']);">variables.less</a></li>
                    <li><a target="_blank" href="cyborg/bootswatch.less" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cyborg', 'bootswatch.less']);">bootswatch.less</a></li>
                    <li class="divider"></li>
                    <li><a target="_blank" href="cyborg/_variables.scss" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cyborg', '_variables.scss']);">_variables.scss</a></li>
                    <li><a target="_blank" href="cyborg/_bootswatch.scss" onclick="_gaq.push(['_trackEvent', 'bootswatch', 'cyborg', '_bootswatch.scss']);">_bootswatch.scss</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
