.jumbotron{
    background-image: url("https://images.pexels.com/photos/414586/pexels-photo-414586.jpeg?auto=compress&cs=tinysrgb&h=350");
      background-color: #cccccc;
          background-position: center;
          background-repeat: no-repeat;
  }
  .contain_top .col-sm-4 p{width: 85%;}
  