/* 
  
  body {
    margin: 40px;
  }
  
  .wrapper {
    margin: 0 0 20px 0;
    width: 100%;
    border: 2px solid #CCC;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(3,100px);
    align-content: space-around;
    justify-content: space-between;
  }
  
  
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
  
  .item1 {
    grid-column: 1 / 5;
  }
  
  .item2 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  
  .item3 {
    grid-column: 3 / 5;
  }
   */

.static .col-xs-offset-1 {
    margin-left: 2.333333%;
}
.static_8{width: 72%}
.static_7{width: 63.6%;}
.first_row1{margin-bottom: 10px}
@media (max-width: 768px) {
	.static_8,.static_7{width: 100%}
	.static .col-xs-offset-1{margin-left: 0px}
}