<!-- <div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-6">
      <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">HELLOW</div>
      </div>        
      <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6"></div>
      </div>
  </div>

  <div class="col-sm-8">
      <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-4"></div>
      </div>
      <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-8"></div>
      </div>
  </div>
  <div class="col-sm-4"></div>
</div> -->

<!-- 
<div class="wrapper aligned">
  <div class="box item1">One</div>
  <div class="box item2">Two</div>
  <div class="box item3">Three</div>
  <div class="box item4">Four</div>
  <div class="box item5">Five</div>
</div> -->
<style type="text/css">
	.static .col-xs-offset-1 {
    margin-left: 2.333333%;
}
.static_8{width: 72%}
.static_7{width: 63.6%;}
.first_row1{margin-bottom: 10px}
@media (max-width: 768px) {
	.static_8,.static_7{width: 100%}
	.static .col-xs-offset-1{margin-left: 0px}
}

</style>

	<div class="container-fluid static">
 
<div class="container">
	
	  <div class="row first_row1">
    <div class="col-sm-8 static_8" style="background-color:Lime;">.col-sm-9<br>Resize your viewport or check it out on your phone for an example.</div>
    <div class="col-sm-3 col-xs-offset-1" style="background-color:lavender;">.col-sm-3<br>Resize your viewport or check it out on your phone for </div>
  </div>
    <div class="row ">
    <div class="col-sm-4 " style="">
    	<div class="row first_row1">
    		<div class="col-sm-12" style="background-color:blue;height: 120px">
    			Resize your viewport or check it out on 
    		</div>
    	</div>
<div class="row">
    		<div class="col-sm-12 " style="background-color:red;height: 80px">
    			Resize your viewport or check it out on 
    		</div>
    	</div>
    </div>
    <div class="col-sm-7 static_7 col-xs-offset-1" >
    	    	<div class="row ">
    		<div class="col-sm-12 first_row1" style="background-color:green;height: 100px">
    			Resize your viewport or check it out on 
    		</div>
    	</div>
<div class="row">
    		<div class="col-sm-12" style="background-color:black;height: 100px">
    			Resize your viewport or check it out on 
    		</div>
    </div>
  </div>
</div>
</div>
